<div class="nav">
  <div class="avatar">
    <img src="/img/avatar.jpg" alt="Jianan Jiang" />
    <h1>Jianan Jiang</h1>
    <h2><i class="fa fa-location-arrow"></i>Beijing, China</h2>
    <div class="social-media">
      <a href="https://github.com/jian-jiang" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="#"><i class="fa fa-google-plus fa-lg" target="_blank"></i></a>
      <a href="#"><i class="fa fa-instagram fa-lg" target="_blank"></i></a>
      <a href="mailto:adamjiang0914@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
    </div>
  </div>
  <div class="menus">
    <div class="web-dev section">
      <i class="fa fa-sitemap fa-lg"></i>
      <h3>Website</h3>
    </div>
    <ul>
      <li><a href="#">Learnlord</a></li>
      <li><a href="#">Qingying</a></li>
      <li><a href="#">Ideas</a></li>
    </ul>

    <div class="cven section">
      <i class="fa fa-home fa-lg"></i>
      <h3>CVEN</h3>
    </div>
    <ul>
      <li><a href="#">Work</a></li>
      <li><a href="#">Ideas</a></li>
    </ul>
    <div class="tramslation section">
      <i class="fa fa-exchange fa-lg"></i>
      <h3>Trans</h3>
    </div>
    <ul>
      <li><a href="#">Ideas</a></li>
    </ul>
  </div>
  <div class="RSS">
    <i class="fa fa-rss fa-lg"></i>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rss-sub">subscribe via RSS</a>
  </div>
</div>
